<template>
  <div id="app">
    <div class="kek">
      <div class="up" :style="'background-color:' + upColor">
        <b-form-input v-model="upColor"></b-form-input>
      </div>
      <div class="down blend" :style="`background-color:${this.downColor}; mix-blend-mode:${this.blendingMode};`" />
      <div class="down" :style="'background-color:' + downColor">
        <b-form-input v-model="downColor"></b-form-input>
      </div>
      <div class="controls">
        <b-form-select v-model="blendingMode" :options="options"></b-form-select>
        <b-button variant="primary" @click="setColors">New colors</b-button>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'App',
    data() {
      return {
        upColor: 'blue',
        downColor: 'green',
        blendingMode: 'multiply',
        options: ['color', 'color-burn', 'color-dodge', 'darken', 'difference','exclusion', 'hard-light', 'hue', 'lighten', 'luminosity', 'multiply', 'overlay', 'revert', 'saturation', 'screen', 'soft-light']
      }
    },
    methods: {
      setColors() {
        this.upColor = this.randomColor()
        this.downColor = this.randomColor()
      },
      randomColor() {
        let a = this.randomInt(255)
        let b = this.randomInt(255)
        let c = this.randomInt(255)
        return `rgb(${a},${b},${c})`
      },
      randomInt(max) {
        return Math.floor(Math.random() * Math.floor(max))
      }
    },
    mounted() {
      this.upColor = this.randomColor()
      this.downColor = this.randomColor()
    }
  }
</script>

<style lang="scss">
  @mixin flex($justify-content, $align-items , $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  #app {
    display: grid;
    place-items: center;

    height: 100vh;

    background-color: #e2e2e2;

    .kek {
      position: relative;

      @include flex(center, center);

      width: 75%;
      height: 500px;

      .up, .down {
        input {
          width: 30%;
          margin: 10px;
          padding: 15px;
          border-radius: 5px;

          background-color: rgba(255,255,255,.7);

          &:focus {
            box-shadow: none;
          }
        }
      }

      .up {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .down {
        position: absolute;
        top: 100px;
        left: 100px;

        @include flex(flex-start, flex-end);

        width: 100%;
        height: 100%;
      }

      .blend {
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 2;

        width: calc(100% - 100px);
        height: calc(100% - 100px);
      }

      .controls {
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 3;

        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        padding: 15px;
        margin: 10px;
        border-radius: 5px;

        background-color: rgba(255,255,255,.7);

        *:focus {
          box-shadow: none;
        }
      }
    }
  }
</style>
